In [2]:
age=32
height=5.9
name="Raj"
is_student=True

print("age :",age)
print("height :", height)
print("name :",name)

age : 32
height : 5.9
name : Raj

In [ ]:
#Variable COnversion

height=5.11
print(type(int(height)))
int(height)

<class 'int'>

5

In [ ]:
#Varib=able Conversion

height=5.11
print(type(str(height)))
str(height)

<class 'str'>

'5.11'

In [ ]:
#dynamic typing

var=10
print(var,type(var))

var="abc"
print(var,type(var))

var=3.12
print(var,type(var))

10 <class 'int'>
abc <class 'str'>
3.12 <class 'float'>

In [13]:
#Simple Calculator

num1=int(input("Enter 1st Number"))
num2=int(input("Enter 2nd Number"))

sum=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2

print("Sum :",sum)
print("Sub :",sub)
print("Mul :",mul)
print("Div :",div)

Sum : 110
Sub : -2
Mul : 3024
Div : 0.9642857142857143